@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply font-Manrope text-base font-medium;
}

.container {
  @apply max-w-[1200px] mx-auto;
}

.swiper-button-disabled {
  opacity: .3;
}

/* .max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: 10rem;
} */

@media only screen and (max-width: 1300px) {
  .container {
    @apply max-w-full px-[20px]
  }
}


