@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply font-Manrope text-base font-medium;
}

.container {
  @apply max-w-[1200px] mx-auto;
}

.favorites_container {
  @apply max-w-[1816px] mx-auto;
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  border-radius: 100px !important;
}

.favoritesSwiper .swiper-pagination {
  bottom: 15px;
}

.favoritesSwiper .swiper-pagination-bullet {
  transition: .3s ease;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
  margin: 0 !important;
}

.heart.active .heartone {
  display: none;
}

.heart.active .hearttwo {
  display: block;
}

.favoritesSwiper .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 100px;
}

.tab:hover > svg > g > rect {
  fill: white;
}

.tab:focus > svg > g > rect {
  fill: white;
}

.link:hover > svg > path {
  fill: #0059FD;
}
.link:focus > svg > path {
  fill: #0059FD;
}
.link:active > svg > path {
  fill: #0059FD;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.shadow-btn {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.8);
}

.bg-shadow {
  background: rgba(46, 58, 89, 0.6);
}

/* .max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: 10rem;
} */

@media only screen and (max-width: 1300px) {
  .container {
    @apply max-w-full px-[20px]
  }
}

@media only screen and (max-width: 1536px) {
  .favorites_container {
    @apply max-w-full px-[20px]
  }
}


